<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
    <link href="/styles/app.css" rel="stylesheet"/>
    <meta charset="utf-8">
    <title>Central Valley Developers</title>
  </head>
  <body>
      <div class="ui fixed inverted menu">
          <div class="ui container">
              <div class="header item"><i class="ui icon users"></i>FreeCodeCamp of Modesto</div>
              <a href="/" class="item">Home</a>
              <a href="/users/login" class="item">Login-Sign Up</a>
              <a href="/showAll" class="item">Developers</a>
              <% if (user) { %>
               <a href="/users/showUser/<%=user._id%>" class="item">My Account</a>    
               <a href="/users/logout" class="item">Logout</a>
              <% } %> 

          </div>
  </div>
