!DOCTYPE html>
<html>
  <head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <link href="/styles/app.css" rel="stylesheet"/>
    <meta charset="utf-8">
    <title><%= user.givenName %> <%= user.surname %> Developer</title>
  </head>
  <body>
    <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="ui icon users"></i>Central Valley Developers</div>
                <a href="/" class="item">Home</a>
                <a href="/login" class="item">Login-Sign Up</a>
                <a href="/showAll" class="item">Developers</a>
                <form  method="POST" action="/logout">
                  <button class="ui button item" id="logoutButton" type="submit"><a class="item">Logout</a></button>
                </form>
                <div class="right menu">
                  <a href="/user/new" id="userNameMenu" class="item"><%= user.givenName %> <%= user.surname %></a>
                </div>
            </div>
    </div>
