<% include partials/userHeader %>

  <div class="ui container">
    <div class="ui segment">
    <img class="ui centered medium image" src="" />
    <div class="content">
      <a class="header"><%= blog.blogTitle %></a>
      <div class="meta">
        <span class="date">1/1/1999</span>
      </div>
      <div class="ui container">
        <%= blog.blogImage %>
        <%= blog.blogBody %>
      </div>
    </div>
  </div>

<% include partials/foot %>
