<% include partials/head %>

<div class="ui container" id="">
    <% if(errors) { %>
      <% errors.forEach(function(err) { %>
        <div class="ui warning message">
          <i class="close icon"></i>
         <div class="header">
          <%= error.msg %>
         </div>
        </div>
      <%  }) %>
    <%  } %>

  <div class="ui container mainForm">
    <div class="ui huge header">Sign Up</div>
    <div class="ui text">We want to start you and your team off on the right foot. Sign up and answer honestly. We will try and groups together in to be sucsessfull. You might be grouped with those that are learning new skills, so allow for more time for learning.</div>  
    <form class="ui form" action="/cohorts/cohortSignup" method="POST">
    <div class="field">
      <label>Name</label>
      <input type="text" name="name" value="" placeholder="Name">
    </div>
    <div class="field">
      <label>Email</label>
      <input type="email" name="email" value="" placeholder="Email">
    </div>
    <div class="field">
      <label>Availability</label>
      <select  name="availability" class="ui dropdown">
        <option value="">Hours per Week</option>
        <option value="1">3 - 7</option>
        <option value="0">7 - 15</option>
      </select>
    </div>
    <div class="field">
      <label>Level</label>
      <input type="text" name="level" value="" placeholder="How long have you been programming?">
    </div>
    <div class="inline field">
      <div class="ui toggle checkbox">
        <input type="checkbox" name="commit">
        <label>Do you commit to seeing the project through?</label>
      </div>
    </div>
    <button class="ui button" type="submit">Submit</button>
    <a href="/" class="ui button">Cancel</a>
   </form>
  </div>
</div>


<% include partials/foot %>
