<% include partials/head %>

<div id="mastheadStyle" class="ui large inverted vertical masthead center aligned segment">
    <div class="ui text container">
      <h1 class="ui inverted header">Central Valley FreeCodeCamp Members</h1>
      <h3>These hard working software developers aspire to do more, build more, and become more every day.
        Each one has a unique story and style to bring to the table. We came together to help each other out, as well as share in each other successes and learning experiences.</h3>
      </div>
      <button class="ui button large">Browse</button>
    </div>
</div>
<% include partials/foot %>
