<% include partials/head %>

      <div id="mastheadStyle" class="ui large inverted vertical masthead center aligned segment">
          <div class="ui text container">
            <h1 class="ui inverted header">Central Valley FreeCodeCamp Members</h1>
            <h3>These hard working software developers aspire to do more, build more, and become more every day.
              Each one has a unique story and style to bring to the table. We came together to help each other out, as well as share in each other successes and learning experiences.</h3>
            </div>
            <a href="/showAll"><button id="browseBtn" class="ui button large">Browse</button></a>

          </div>
      </div>

          <div class="ui vertical stripe segment">
              <div class="ui middle aligned stackable grid container">
                <div class="row">
                  <div class="eight wide column">
                    <h3 class="ui header">Join Our Community</h3>
                    <p>Weekley Tech meetups are heald at the the ValleyWorx Co-Working space, as well as large monthly meetups where we get togther, help eachother learn, and build asweoms stuff.</p>
                    <h3 class="ui header">About FreeCodeCamp</h3>
                    <p></p>
                    <a href="https://www.freecodecamp.org"><button class="ui button large">FreeCodeCamp</button>
                  </div>
                  <div class="six wide right floated column">
                    <img src="/img/meetup.JPG" class="ui large bordered rounded image">
                  </div>
                </div>
               
                <div class="row">
                  <div class="center aligned column">
                    <a class="ui huge button">Check Them Out</a>
                  </div>
                </div>
              </div>
            </div>   


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68850833-3', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
