<% include partials/head %>

<div class="container">

    <div class="ui container" id="">
        
          <div class="ui container mainForm">
            <div class="ui huge header">Login</div>
            <form class="ui form" action="/users/login" method="POST">
            <div class="field">
              <label>Username</label>
              <input type="text" name="username" value="" placeholder="Username">
            </div>
            <div class="field">
              <label>Password</label>
              <input type="password" name="password" value=""placeholder="Password">
            </div>
            <button class="ui button" type="submit">Submit</button>
           </form>
          </div>
        </div>

        <p>Need an account? <a href="/register">Register</a></p>
        <p>Or go <a href="/">home</a>.</p>
    </div>

</div>

<% include partials/foot %>
