<% include partials/head %>

<div class="ui container" id="">

  <div class="ui container mainForm">
    <div class="ui huge header">Register</div>
    <% if (global.errors) { %>
      <% for(var i=0; i < errors.length; i++) { %>
        <div class="ui warning message transition hidden">
          <i class="close icon"></i>
         <div class="header">
          <%= error.msg %>
         </div>
        </div>
      <%  } %>
    <%  } %>
    <form class="ui form" action="/users/register" method="POST">
    <div class="field">
      <label>Name</label>
      <input type="text" name="name" value="" placeholder="Name">
    </div>
    <div class="field">
      <label>Email</label>
      <input type="email" name="email" value="" placeholder="Email">
    </div>
    <div class="field">
      <label>Username</label>
      <input type="text" name="username" value="" placeholder="Username">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password" value=""placeholder="Password">
    </div>
    <div class="field">
      <label>Confirm Password</label>
      <input type="password" name="password2" value="" placeholder="Password">
    </div>
    <div class="field">
      <label>Avatar</label>
      <input type="file" name="avatar" placeholder="Image of You">
    </div>
    <button class="ui button" type="submit">Submit</button>
    <a href="/" class="ui button">Cancel</a>
   </form>
  </div>
</div>


<% include partials/foot %>
