<% include partials/head %>

<div class="row">
  <div class="ui two column stacking grid container" id="resources">
        <div class="">
            <h3 class="header">Resources</h3>
            <div class="description">Use these reasources to Accelerate and improve your learning</div>
        </div>
    </div>
</div>
        <div class="ui items">
            <% resources.forEach(function(resources) { %>
                <a href="<%= resources.resourceUrl %>"><div class="item">
                    <div class="ui small image">
                    <img src="<%= resources.resourceImage %>"
                    </div>
                    <div class="content">
                    <div class="header"><%= resources.resourceTitle %></div>
                    <div class="meta">
                    </div>
                    <div class="description">
                       <%= resources.resourceDescription %>
                    </div>
                    </div>
                    </div>
                </a>
            <%  }) %>
        </div>


<% include partials/foot %>