<% include partials/head %>

<div class="row">
  <div class="ui three column stacking grid container" id="allUsersMain">
      <% userRef.forEach(function(userRef) { %>
            <div class="column">
            <a href="/users/showUser/<%= userRef._id %>">
              <div class="ui fluid card">
                <div class="ui image">
                  <img class="avatarImg" src="<%= userRef.imageRef %>" width="350" height="200">
                </div>
                <div class="content">
                  <div class="header"><%= userRef.name %></div>
                  <div class="description">
                    <p><%= userRef.currentOccupation %></p>
                  </div>
                </div>
              </div>
            </a>
            </div>


      <% }) %>
  </div>
</div>


<% include partials/foot %>
