<% include partials/head %>
<div class="ui middle aligned stackable grid container">
<div class="ui card four wide column" id="infoCard">
<div class="image">
  <img src="/img/avatars/test.png">
</div>
<div class="content">
  <a class="header">Tester</a>
  <div class="meta">
    <span class="date">Joined in 2013</span>
  </div>
  <div class="description">
    Tester is an art director living in New York.
  </div>
</div>
<div class="extra content">
  <a>
    <i class="user icon"></i>
    6 Projects
  </a>
</div>
</div>
<div class="eight wide column">
  <div class="ui header large">
    Description
  </div>
  <div class=" ui text">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
    Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
    Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
    Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
    Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
    Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero,
    sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
     Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
     Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
     Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
  </div>
</div>
<div class="ui row">
  <div id="workExamples" class="ui cards">
    <div class="ui card">
    <div class="content">
      <div class="right floated meta">14h</div>
      <img class="ui avatar image" src="/img/avatars/test.png"> Elliot
    </div>
    <div class="image">
      <img src="/img/examples/exampleTest.jpg">
    </div>
    <div class="content">
      <span class="right floated">
        <i class="heart outline like icon"></i>
        17 likes
      </span>
      <i class="comment icon"></i>
      3 comments
    </div>
    <div class="extra content">
      <div class="ui large transparent left icon input">
        <i class="heart outline icon"></i>
        <input type="text" placeholder="Add Comment...">
      </div>
    </div>
  </div>
</div>
<div class="large ui buttons">
  <a href="#"><button class="ui button">Add a Project</button></a>
  <a href="#"><button class="ui button">Add a Blog Post</button></a>
</div>
</div>


<% include partials/foot %>
