<% include partials/head %>
<div class="row">
  <div class="ui three column grid container" id="allUsersMain">
      <% allUsers.forEach(function(userRef) { %>
      <div class="column">
      <div class="ui fluid card">
        <div class="ui image">
          <img src="<%= userRef.imageRef %>">
        </div>
        <div class="content">
          <div class="header"><%= userRef.fName %> <%= userRef.lName %></div>
          <div class="description">
            <p><%= userRef.description %></p>
          </div>
        </div>
      </div>
      </div>
      <% }) %>
  </div>
</div>


<% include partials/foot %>
