<% include partials/head %>
<div class="row">
  <div class="ui middle aligned stackable grid container" id="allUsersMain">
    <div class="ui link items">
      <div class="item">
        <div class="ui tiny image">
          <img src="/img/avatars/test.png">
        </div>
        <div class="content">
          <div class="header">Stevie Feliciano</div>
          <div class="description">
            <p>placeholder</p>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>


<% include partials/foot %>
