<% include partials/head %>

      <div id="mastheadStyle" class="ui large inverted vertical masthead center aligned segment">
          <div class="ui text container">
            <h1 class="ui inverted header">Modesto FreeCodeCamp Members</h1>
            <h3>Sponsors are a huge part of the community. We like feature our sponsors as an Integral part of the community. We learn from you and become a voice in the growing comminity. We bring our energy and enthusiasm.</h3>
            </div>
            <a href="/requestInfo"><button id="browseBtn" class="ui button large">Sponsor Us</button></a>

          </div>
      </div>

          <div class="ui vertical stripe segment">
              <div class="ui middle aligned stackable grid container">
                <div class="row">
                  <div class="eight wide column">
                    <h3 class="ui header">Join Our Community</h3>
                    <p>Weekley Tech meetups are held at the the ValleyWorx Co-Working space, as well as large monthly meetups where we get togther, help each other learn, and build awesome stuff.</p>
                    <a href="https://www.meetup.com/FreeCodeCamp-of-Modesto"><button class="ui button large">Meetups.com</button></a>
                    <h3 class="ui header">About FreeCodeCamp</h3>
                    <p>FreeCodeCamp is an online learning platform that teaches FullStack Javascript Including HTML, CSS, React, D3, Node and Express. Our community will help you along the way while you learn. We want to help you gain the skills you need to become a developer.</p>
                    <a href="https://www.freecodecamp.org"><button class="ui button large">FreeCodeCamp</button></a>
                  </div>
                  <div class="six wide right floated column">
                    <img src="/img/meetup.JPG" class="ui large bordered rounded image">
                  </div>
                </div>
               
                <div class="row">
                  <div class="center aligned column social-icons">
                    <p>Facebook</p>
                    <a class="ui icon button" href="https://www.facebook.com/groups/free.code.camp.modesto/"><i class="facebook icon"></i></a>
                  </div> 
                  <div class="center aligned column social-icons">
                    <p>Meetups</p>
                    <a class="ui icon button" href="https://www.meetup.com/FreeCodeCamp-of-Modesto"><i class="meetup icon"></i></a>
                  </div>
                  <div class="center aligned column social-icons">
                    <p>ValleyWorx</p>
                    <a class="ui icon button" href="https://www.valleyworx.com/"><i class="handshake icon"></i></a>
                  </div>
                  <div class="center aligned column social-icons">
                    <p>Slack Chat</p>
                    <a class="ui icon button" href="https://fccmodestoslack.herokuapp.com"><i class="slack icon"></i></a>
                  </div>
                </div>
              </div>
            </div>   


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68850833-3', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
