<% include partials/head %>

<div class="ui container" id="">

  <div class="ui container mainForm">
    <div class="ui huge header">Edit your profile</div>
    <div class="ui header">Let us know about your interest in sponsoring our group and we will get back to you.</div>
    <form class="ui form" action="/requestInfo" method="POST">
    <div class="field">
      <label>First Name</label>
      <input type="text" name="customerName"  placeholder="Name">
    </div>
    <div class="field">
      <label>Company</label>
      <input type="text" name="companyName"  placeholder="Company">
    </div>
    <div class="field">
      <label>Email</label>
      <input type="email" name="customerEmail" placeholder="Email">
    </div>
    <div class="field">
      <label>Phone</label>
      <input type="text" name="phone" placeholder="Phone Number">
    </div>
    <button class="ui button" type="submit">Submit</button>
    <a href="/" class="ui button">Cancel</a>
   </form>
  </div>
</div>


<% include partials/foot %>
