<% include partials/head %>

<div class="ui container" id="">

  <div class="ui container" id="">
    <div class="ui huge header">Create your profile</div>
    <form class="ui form" action="/user/new" method="POST" enctype="multipart/form-data">
    <div class="field">
      <label>First Name</label>
      <input type="text" name="fName" placeholder="First Name">
    </div>
    <div class="field">
      <label>Last Name</label>
      <input type="text" name="lName" placeholder="Last Name">
    </div>
    <div class="field">
      <label>Current Occupation</label>
      <input type="text" name="currentOccupation" placeholder="Current Occupation">
    </div>
    <div class="field">
      <label>Description</label>
      <input type="text" name="description" placeholder="Description">
    </div>
    <div class="field">
      <label>Email</label>
      <input type="email" name="userEmail" placeholder="Email">
    </div>
    <div class="field">
      <label>Avatar</label>
      <input type="file" name="avatar" placeholder="Image of You">
    </div>
    <button class="ui button" type="submit">Submit</button>
    <a href="/" class="ui button">Cancel</a>
   </form>

  </div>
</div>


<% include partials/foot %>
