<% include partials/head %>

<div class="ui container" id="">

  <div class="ui container mainForm">
    <div class="ui huge header">Add some details to your profile</div>
    <form class="ui form" action="/users/details/<%=userRef.id%>" method="POST" enctype="multipart/form-data">
    <div class="field">
      <label>Name</label>
      <input type="text" name="userRef[name]" value="<%= userRef.name %>" placeholder="First Name">
    </div>
    <div class="field">
      <label>Current Occupation</label>
      <input type="text" name="userRef[currentOccupation]"  placeholder="Current Occupation">
    </div>
    <div class="field">
      <label>Description</label>
      <input type="text" name="userRef[description]" placeholder="Description">
    </div>
    <div class="field">
      <label>Email</label>
      <input type="email" name="userRef[email]" value="<%= userRef.email %>" placeholder="Email">
    </div>
    <div class="field">
      <label>Avatar</label>
      <input type="file" name="avatar" placeholder="Image of You">
    </div>
    <button class="ui button" type="submit">Submit</button>
    <a href="/" class="ui button">Cancel</a>
   </form>
   <form id="deleteButton" action="/users/delete/<%=userRef.id%>?_method=DELETE" method="POST">
    <button class="ui button">Delete<i class="icon trash"></i></button>

  </form>

  </div>
</div>


<% include partials/foot %>
