<% include partials/head %>

<div class="ui container" id="">

  <div class="ui container" id="">
    <div class="ui huge header">Create your profile</div>
    <form class="ui form" action="/user" method="POST">
    <div class="field">
      <label>First Name</label>
      <input type="text" name="fName" value="" placeholder="First Name">
    </div>
    <div class="field">
      <label>Last Name</label>
      <input type="text" name="lName" value="" placeholder="Last Name">
    </div>
    <div class="field">
      <label>Description</label>
      <input type="text" name="description" value="" placeholder="Description">
    </div>
    <div class="field">
      <label>Email</label>
      <input type="text" name="userEmail" value="" placeholder="Email">
    </div>
    <button class="ui button" type="submit">Submit</button>
    <a href="/" class="ui button">Cancel</a>
   </form>

  </div>
</div>


<% include partials/foot %>
