<% include partials/head %>


<div class="ui container" id="">

  <div class="ui container mainForm">
    <div class="ui huge header">Blog Entry</div>
    <form class="ui form" action="/posts/<%= userRef.id %>/userBlog/new" method="POST" enctype="multipart/form-data">
    <div class="field">
      <label>Blog Title</label>
      <input type="text" name="blogTitle"  placeholder="Title">
    </div>
    <div class="field">
      <label>Image</label>
      <input type="file" name="blogImage" placeholder="Upload a pic">
    </div>
    <div class="field">
      <label>Content</label>
      <textarea id="blogEntry" type="text" name="blogBody" value="simplemde.value" placeholder=""></textarea>
    </div>
    <button class="ui button" type="submit">Submit</button>
    <a href="/users/showUser/<%= userRef.id %>" class="ui button">Cancel</a>
   </form>

  </div>
</div>
<script>
var simplemde = new SimpleMDE({ element: document.getElementById("blogEntry") });
</script>

<% include partials/foot %>
