<% include partials/head %>

<div class="ui container" id="">

  <div class="ui container" id="">
    <div class="ui huge header">Create a New Customer</div>
    <form class="ui form" action="" method="POST">
    <div class="field">
      <label>First Name</label>
      <input type="text" name="" value="" placeholder="First Name">
    </div>
    <div class="field">
      <label>Last Name</label>
      <input type="text" name="" value="" placeholder="Last Name">
    </div>
    <div class="field">
      <label>Address</label>
      <input type="text" name="" value="" placeholder="Address">
    </div>
    <div class="field">
      <label>Email</label>
      <input type="text" name="" value="" placeholder="Email">
    </div>
    <button class="ui button" type="submit">Submit</button>
    <button class="ui button" type="submit">Cancel</button>
   </form>
  </div>
</div>


<% include partials/foot %>
