.masthead {
  min-height: 700px;
  padding: 1em 0em;

}

.masthead h1.ui.header {
     margin-top: 3em;
     margin-bottom: 0em;
     font-size: 4em;
     font-weight: normal;
     color: #555F61;
   }
   .masthead h2 {
     font-size: 1.7em;
     font-weight: normal;
     color: #555F61;
   }

.mainForm {
  margin-top: 10%;
}
#mastheadStyle {
  background-image: url(../img/footer_lodyas.png);
}

#browseBtn {
  margin-top: 38px;
}
#workExamples {
  margin: 30px auto;
}
#infoCard {
  margin: 80px 38px;
}

#userCallout a {
  margin-left: 18px;
}

#allUsersMain {
  margin: 120px 30px;
}

#blogEntry {
  height: 450px;
}

.codeMirror {
  height: 450px;
}
