.masthead {
  min-height: 700px;
  padding: 1em 0em;

}

.masthead h1.ui.header {
     margin-top: 3em;
     margin-bottom: 0em;
     font-size: 4em;
     font-weight: normal;
     color: #555F61;
   }
   .masthead h2 {
     font-size: 1.7em;
     font-weight: normal;
     color: #555F61;
   }

.mainForm {
  margin-top: 10%;
}
#mastheadStyle {
  background-image: url(../img/footer_lodyas.png);
}

#browseBtn {
  margin-top: 38px;
}
#workExamples {
  margin: 30px auto;
}
#infoCard {
  margin: 80px 38px;
}

#userCallout a {
  margin-left: 18px;
}

#allUsersMain {
  margin: 120px 30px;
}

#blogEntry {
  height: 450px;
}

#userNameMenu {
  height: 70px;
  background-color: inherit;
}

#logoutBtn {
  padding: 0;
  height: 100%;
}

#logoutMenu {
  height: 70px;
  margin-bottom: 0;
}

#deleteButton {
  margin-top: 8px;
}
.codeMirror {
  height: 450px;
}
.userMenuStyles {
  background: black;
  color: white;
}
.dropdownText {
  color: black;
}

.avatarmgI {
  max-width: 350px;
  max-height: 180px;
}

.centered {
  margin: 0 auto;
  width: 33%
}

.ui.vertical.stripe {
  padding: 8em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.social-icons {
  margin: 5% 0 5% 4.5%;
}